<body>
  <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>
<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |books| %>
      <tr>
        <td><%= books.title %></td>
        <td><%= books.body %></td>
        <td><%= link_to "Show", book_path(books.id) %></td>
        <td><%= link_to "Edit", edit_book_path(books.id) %></td>
        <td><%= link_to "Destroy", destroy_book_path(books.id), method: :delete, "data-confirm" => "Are you sure？" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>New book</h2>
 <% if @book.errors.any? %>
    <h3><%= @book.errors.count %> error prohibited this book from being saved:</h3>
      <% @book.errors.full_messages.each do |message| %>
        <h4><li><%= message %></li></h4>
      <% end %>
  <% end %>
  <%= form_for(@book,url: '/books') do |book| %>
    <div class="field">
      <label>Title</label>
      <input class="book_title" type="text" name="book[title]" id="book_title">
    </div>

    <div class="field">
      <label>Body</label>
      <textarea class="book_body" name="book[body]" id="book_body"></textarea>
    </div>

    <div class="actions">
      <%= book.submit 'Create book' %>
    </div>
  <%end%>

</body>